table {
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #f8f8ff;
    border: 1px solid #ddd;
}

th {
    background-color: blue;
    color: white;
    padding: 12px;
    border: 1px solid #ddd;
}


tr:hover {
    background-color: #e6f7ff;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

/* Pulsante elimina */
button.elimina {
    background-color: #f44336;
    color: white;
}

button.elimina:hover {
    background-color: #d32f2f;
}

button.modifica {
    background-color: #ff9800;
    color: white;
}

button.modifica:hover {
    background-color: #e68900;
}


.abilita {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
}

.abilita input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
}