body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    margin: 50px;
}

.libro {
    margin: 20px auto;
    width: 300px;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}