<style>

    

    body {
      font-family: Arial, sans-serif;
    }

    header { /*contenitore nero*/
        display: flex;
        justify-content: space-between;
         align-items: center;
         padding: 20px;
         background-color: #333;
         color: white;
    }

    .logo-container img {
       cursor: pointer;
      width: 150px;
    }

    nav ul {
       display: flex;
       list-style: none;
    }

    nav ul li {
        margin: 0 15px;
        cursor: pointer;
        padding: 5px 10px;
    }

    nav ul li:hover {
       background-color: #555;
    }

    #image-container {
       margin-top: 20px;
       text-align: center;
    }

    #image {
       width: 100%;
      max-width: 600px;
      transition: opacity 0.3s ease-in-out;
    }


    .menu-item.active {
       background-color: #ff6347;
    }


    .menu-item.large-text {
       font-size: 1.2em;
       font-weight: bold;
    }

    </style>