/* Corpo della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* Bianco */
}

/* Intestazione */
header {
    background-color: #6a0dad; /* Viola */
    color: white;
    padding: 3%; /* Circa 15px in percentuale */
    text-align: center;
    width: 100%;
}

/* Sezione registrazione */
section#registrazione {
    background-color: #ffffff; /* Bianco */
    padding: 5%; /* Circa 20px in percentuale */
    margin: 5%; /* Circa 20px in percentuale */
    width: 100%;
    max-width: 80%; /* Limita la larghezza a un massimo dell'80% */
    border-radius: 8px;
    box-shadow: 0 1% 2% rgba(0, 0, 0, 0.1); /* Ombra proporzionale */
}

/* Titolo della sezione */
h2 {
    text-align: center;
    color: #333333; /* Nero */
    font-size: 5vw; /* Dimensione del font in base alla larghezza della finestra */
    margin-bottom: 3%; /* Circa 15px in percentuale */
}

/* Gruppi di input */
.gruppo-input {
    margin-bottom: 3%; /* Circa 15px in percentuale */
}

/* Etichette degli input */
label {
    display: block;
    margin-bottom: 1%; /* Circa 5px in percentuale */
    color: #333333; /* Nero */
}

/* Stile per gli input */
input[type="text"],
input[type="email"],
input[type="password"] {
    margin-top: 3%; /* Circa 15px in percentuale */
    width: 100%;
    padding: 2%; /* Circa 8px in percentuale */
    border: 1px solid #ddd; /* Bordo grigio chiaro */
    border-radius: 4px;
    box-sizing: border-box;
}

/* Focus sugli input */
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
    border-color: #6a0dad; /* Viola al focus */
    outline: none;
}

/* Stile per il pulsante di registrazione */
button {
    background-color: #6a0dad; /* Viola */
    color: white;
    padding: 2%; /* Circa 10px in percentuale */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 4vw; /* Dimensione del font in base alla larghezza della finestra */
    font-weight: bold;
    margin-top: 0.5%; /* Circa 2px in percentuale */
}

/* Messaggio di errore */
span {
    color: red;
    display: none;
}

/* Stile per il pulsante di invio */
input[type="submit"] {
    background-color: #6a0dad; /* Viola */
    border-radius: 6px;
    margin-top: 2%; /* Circa 10px in percentuale */
    border: 1px solid #ddd;
    padding: 2%; /* Circa 10px in percentuale */
    width: 50%;
}
