/* Corpo della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* Bianco */
}

/* Intestazione */
header {
    background-color: #6a0dad; /* Viola */
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
}

/* Sezione registrazione */
section#registrazione {
    background-color: #ffffff; /* Bianco */
    padding: 20px;
    margin: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Titolo della sezione */
h2 {
    text-align: center;
    color: #333333; /* Nero */
    font-size: 20px;
    margin-bottom: 15px;
}

/* Gruppi di input */
.gruppo-input {
    margin-bottom: 15px;
}

/* Etichette degli input */
label {
    display: block;
    margin-bottom: 5px;
    color: #333333; /* Nero */
}

/* Stile per gli input */
input[type="text"],
input[type="email"],
input[type="password"] {
    margin-top: 15px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd; /* Bordo grigio chiaro */
    border-radius: 4px;
    box-sizing: border-box;
}

/* Focus sugli input */
input[type="text"]:focus, /*Seleziona gli elementi di tipo "text" (campo di testo) quando l'utente ci clicca sopra o li seleziona.*/
input[type="email"]:focus, /*Seleziona gli elementi di tipo "email" (campo di email).*/
input[type="password"]:focus /*Seleziona gli elementi di tipo "password" (campo di password). */

{
    border-color: #6a0dad; /* Viola al focus */
    outline: none;
}

/* Stile per il pulsante di registrazione */
button {
    background-color: #6a0dad; /* Viola */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
}

/* Messaggio di errore */
span {
    color: red;
    display: none;
}

/* Stile per il pulsante di invio */
input[type="submit"] {
    background-color: #6a0dad; /* Viola */
    border-radius: 6px;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 50%;
}
