* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

/*------------------------------------------------*/

body {
    background-color: rgb(25, 25, 25);
}

/*------------------------------------------------*/

nav {
    background-color: #333;
    padding: 20px;
    width: 130px;
    position: fixed;
    top: 0;
    left: 0;
}

/*------------------------------------------------*/

a {
    text-decoration: none;
    color: #fc3af2;
    padding: 15px 20px;
}

/*------------------------------------------------*/

a:hover {
     background-color: #575757;
}

/*------------------------------------------------*/

h1 {
    color: #d000ff;
     text-align: center;
     margin-top: 80px;
}

/*------------------------------------------------*/

label {
     color: #ed4eff;
}               