div{
	background-color: #ffff00;
}
.div2{
	background-color: #ffff00;
	color: black; 
	font-size: 30px; 
	text-align: center;
	border: solid;
	padding: 10px;
	width: 1100px;
	margin: auto;
}
.div3{
	text-align: center;
	width: 550px;
	height: 260px;
  	margin-top: 100px;
  	margin-left: 300px;
  	padding: 1px;
  	float: left;
	background-color: #ffff00;
	border-style: solid;
}
.div4{
	text-align: center;
	width: 550px;
	height: 260px;
  	margin-top: 100px;
  	margin-right: 300px;
  	padding: 1px;
  	float: right;
	background-color: #ffff00;
	border-style: solid;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 120px;
}
a{
	color: black;
}