div{
	background-color: #ffff00;
}
.div1{
	background-color: #ffff00;
	height: 250px;
}
.div2{
	background-color: #ffff00;
	color: black; 
	font-size: 30px; 
	text-align: center;
	border: solid;
	padding: 10px;
	width: 1100px;
	margin: auto;
}
.div3{
	background-color: #ffff00;
	height: 310px;
}
.div4{
	background-color: #ffff00;
	height: 160px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 120px;
}
p{
	font-size: 35px;
	padding: 40px;
}