div{
	background-color: #ffff00;
}
.div1{
	text-align: center;
	width: 340px;
	height: 200px;
  	margin: 14px;
  	float: left;
	background-color: #ffff00;
	border-style: solid;
}
.div2{
	text-align: center;
	width: 340px;
	height: 200px;
  	margin: 14px;
  	padding: 1px;
  	float: left;
	background-color: #ffff00;
	border-style: solid;
}
.div3{
	text-align: center;
	width: 340px;
	height: 200px;
  	margin: 14px;
  	padding: 1px;
  	float: left;
	background-color: #ffff00;
	border-style: solid;
}
.div4{
	text-align: center;
	width: 340px;
	height: 200px;
  	margin: 14px;
  	padding: 1px;
  	float: left;
	background-color: #ffff00;
    border-style: solid;
}
.div5{
	text-align: center;
	width: 340px;
	height: 200px;
  	margin: 14px;
  	padding: 1px;
  	float: left;
	background-color: #ffff00;
	border-style: solid;
}
a{
	color: black;
}