nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img{
	width: 13%;
	height: 13%;
}


nav a{
	color:#de9947;
	font-size: 195%;
}
.login{
	width: 6.5%;
	height: 49%;
	display: flex;
	justify-content: space-between;
	margin-right:2%;
}

.login:hover{
	border-radius: 5px;
	background-color: #e3e1e1;
}

#immLogin{
	width: 33px;
}


.carica_prodotti{
	display: flex;
  justify-content: center;
  align-items: center;
}

.inserimeto{
	text-align: center;
	background-color: #f2f0f0;
	width: 25%;
	height: 80%;	
	padding-top: 0.2;
	padding-bottom: 1%;
	border: 1px solid black;
	border-radius: 35px;

}

.inserimeto button{
	color:#de9947;
	font-size: 115%;
}

.inserimeto input{
	width: 75%;
	background-color: #e3e1e1;
	border-radius: 25px;
	height: 10%;
	font-size: 25px;
	color: #757474;
	text-align: center;
}

.inserimeto label{
	font-size: 115%;
}

.inserimeto p{
	font-size: 115%;
}

.inserimeto select{
	font-size: 100%;
}

.inserimeto button{
	
}

 #file{
 	font-size: 100%;
 	border-radius: 0px;
 	border: 1px solid black;
 }


.footer_promozione {
  background-color:#de9947; /* Colore arancione simile all'immagine */
  color: white;
  text-align: center;
  padding: 20px;
  margin-top:5% ;
}

.footer_content h2 {
  font-size: 24px;
}

.footer-content p {
  font-size: 20px;
}

.social img{
	width: 2%;
	margin-left: 1%;
}
