body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destra {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
}
nav {
    text-align: center;
    margin-top: 10px;
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
    color: #fff;
}
.content {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.prodotti-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.prodotti {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}
.prodotti h3 {
    margin: 0;
    color: #333;
}
.prodotti p {
    font-size: 14px;
    color: #666;
}
.prodotti img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
#finestra_Login {
    display: none; /* Nasconde la finestra all'avvio */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#finestra {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.aggiuntaprodotti {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#prodottiform input {
    margin: 5px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#prodottiform button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#prodottiform button:hover {
    background-color: #555;
}