.background {
    background-color: #d3d3d3; 
    align-items: center;
    justify-content: center;
}
.contenitore {
    display: flex;
    justify-content: space-around;
}
.sezione {
    margin: 10px;
    border: 2px solid black;
    width: 30%; 
    background-color: white;
    padding: 10px;
}
.sezione-immagine {
    width: 80%; 
    height: auto;
}