
body {
  background-image: url("../imgs/sfondo.png");
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.p-nome{
  color: #097b47;
  font-size: 60px;
  margin: 5px;
  margin-bottom: -20px;
}

.logo{
  padding-top:15px ;
  padding-left:15px ;
  width: 120px;
  height: 80px;
 
}

nav{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: -10px;
  padding:-10px ;
}



.button-box{
  display: flex;
  align-items: center;
  padding: 5px;
}

.login{
  font-size: 30px;
  padding: 10px;
  margin-left: -10px;
}


.negozio{
  padding-top:50px;
  padding-right:1100px ;
  filter: brightness(85%);  
  width: 550px;
  height: 550x;
}

.carrello{
  margin: 1%;
  padding: 1%;
  width: 50px;
  height: 50px;
  border: 1.3px solid;
  background-color: #8fbc8f;
  
  
  

}

.carrello_img{
  width: 100%;
  
}

.icon{
  border: 1.3px solid;
  top:-200px;
  right: -70%;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: white;
}



.Servizz_a{
  
  color:#00008B;
  font-size: 35px;
}

.img-servizi{
  width: 100px;
  height: 100px;
}

.icon_2{
  border: 1.3px solid;
  position: relative;
  top:-350px;
  right: -20%;
  height: 150px;
  width: 150px;
  background-color: white;
}

.Prodd_a{
  
  color:#008800;
  font-size: 35px;
}

.img-prodotti{
  white:100px;
  height: 100px;
  
}

.nero{
  opacity: 0.8;
  
  height: 300px;
  width: 100%;
  background-color: black;
}

.seguici_span{
 
  color: #7e7d6d;
  font-size: 53px;
}

.img-facebook{
 
  width: 3.5%;  
}

.img-instagram{
  
  width: 3.5%;  
}

.img-whatsapp{
  
  width: 3.5%;  
}

.mappa{

  padding-top: 250px;
  position: relative;
  top:-550px;
  }

.map_span{
  font-size: 35px;
  font-style: italic;
}

.map_img{
  padding: 1%;
  margin: 1%;
  width: 100px;
  height: 100px;
}

.posto_p{
 
  font-size: 30px;
}

.store{
  position: relative;
  top:-520px;
  left:25%;
}

.store_span{
  font-size: 35px;
  
  font-style: italic;
}

.store_img{
  
  padding: auto;
  margin: auto;
  width: 100px;
  height: 100px;
}

.descrizione_p{
  font-size: 28px;
  text-align: center;
  
}

.contatti_p{
  position: relative;
  top:-550px;
  font-size: 30px;
}

footer{
  position: relative;
  top:-50px;
}