body {
  background-image: url("../imgs/sfondo.png");
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  max-height: 1200px;
}


.nome-span{
  position: relative;
  top: -20px;
  color: #097b47;
  font-size: 70px;
}

.logo{
  position: relative;
  width: 150px; 
  height: 150px; 
  margin: 0 auto;
  top:-155px;
  left: -47%;
}

hr
{
   position: relative;
   top: -170px;
}

.menu{
  width: 288px;
  height: 50px;
  border-radius: 15px;
  border: 1.3px solid;
  background-color: #8fbc8f;
  position: relative;
  left: 78%;
  top:-275px;
}

.menu__home_a{
  position: relative;
  left:-3%;
  top:10px;
  font-size: 23px;
}

.menu__prodotti_a{
  position: relative;
  left:2%;
  top:10px;
  font-size: 23px;
}

.menu__servizi_a{
  position: relative;
  left:7%;
  top:10px;
  font-size: 23px;
}

.carrello{
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 1.3px solid;
  background-color: #8fbc8f;
  position: relative;
  left: 95%;
  top:-325px;
}

.carrello_img{
  width: 70%;
  position: relative;
  top: 10px;
}

.rettangolo {
  width: 260px;
  height: 70px;
  border-radius: 15px;
  border: 1.3px solid;
  background-color: lightblue;
  position: relative;
  top:-190px;
  left:43%;
}

.prototti_span{
  font-size: 35px;
  top: 0px;

}

.icon{
  border: 1.3px solid;
  position: relative;
  left: 25%;
  top: -10px;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  background-color: white;
}

.abito_img{
  width: 100px;
  height: 100px;
}

.sartoria_span{
  font-size: 35px;
  font-style: italic;
}

.icon_2{
  border: 1.3px solid;
  position: relative;
  left: 63.5%;
  top: -212px;
  height: 190px;
  width: 230px;
  border-radius: 15px;
  background-color: white;
}

.corso_span{
  position: relative;
  top:-10px;
  font-size: 35px;
  font-style: italic;
}

.corso_img{
  width: 100px;
  height: 100px;
}

.icon_3{
  border: 1.3px solid;
  position: relative;
  left: 25%;
  top: -120px;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  background-color: white;
}

.collana_span{
  font-size: 35px;
  font-style: italic;
}

.collana_img{
  width: 100px;
  height: 100px;
}

.icon_4{
  border: 1.3px solid;
  position: relative;
  left: 63.5%;
  top: -320px;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  background-color: white;
}

.consulenza_span{
  font-size: 35px;
}

.consulenza_img{
  width: 100px;
  height: 100px;
}

.icon_5{
  border: 1.3px solid;
  position: relative;
  left: 39.5%;
  top: -930px;
  height: 50px;
  width: 400px;
  border-radius: 15px;
  background-color: white;
}

.prenotazione_span{
  font-size: 20px;
  position: relative;
  top:-50px;
}

.lente_img{
  position: relative;
  top:8.5px;
  left:-42%;
  width: 35px;
  height: 35px;
}


.nero{
  opacity: 0.8;
  position: relative;
  left: 0%;
  top: -250px;
  height: 300px;
  width: 100%;
  background-color: black;
}

.seguici_span{
  position: relative;
  top:35px;
  color: #7e7d6d;
  font-size: 53px;
}

.img-facebook{
  position: relative;
  left: -5%;
  top: 65px;
  width: 3.5%;  
}

.img-instagram{
  position: relative;
  left: 0%;
  top: 65px;
  width: 3.5%;  
}

.img-whatsapp{
  position: relative;
  left: 5%;
  top: 65px;
  width: 3.5%;  
}