body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #333;
    color: #d56aff;
}
h1 {
    color: #ff00ff;
    text-shadow:
        0 0 2px #fff,
        0 0 7px #fa88f4,
        0 0 10px #fa88f4,
        0 0 21px #fa88f4,
        0 0 42px #ff00ff,
        0 0 82px #ff00ff,
        0 0 92px #ff00ff,
        0 0 102px #ff00ff,
        0 0 151px #ff00ff;
}

/*Tabella, righe, colonne*/
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 7px 13px;
    margin-bottom: 20px;
}
th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #9000ff;
}
th {
    background-color: #575757;
    color: #fc3af2;
}
tr {
    background-color: #444;
}
tr:hover {
    background-color: rgb(144, 0, 255, 0.1);
    color: white;
}

/*Azioni*/
.azioni {
    text-align: center;
}
.azioni .icon {
    cursor: pointer;
    margin: 0 5px;
    font-size: 18px;
    color: #fc3af2;
}
.azioni .checkbox {
    cursor: pointer;
    margin-left: 10px;
}

#x-icon {
    color: red;
}
#x-icon:hover {
    color: rgb(196, 5, 5);
}
#edit-icon {
    color: rgb(0, 255, 0);
}
#edit-icon:hover {
    color: green;
}