body {
	font-family: Calibri;
}

header {
	text-align: center;
	background-color: #abcbab;
	border-bottom: 1px solid;
	position: sticky;
	top: 0;
}

footer {
	margin-top: 38%;
	text-align: center;
	background-color: #abcbab;
	border-top: 1px solid;
    position: sticky;
    bottom: 0;
}

h1, h2 {
	text-align: center;
}

p {
	text-align: center;
}

#loginButton, #registerButton, #adminButton {
	display: none;
}

img {
	height: 100px;
	width: 130px;
}

#tabellaGestioneProdotti {
	border: 1px solid;
}

td {
	text-align: center;
	border: 1px solid;
	padding: 5px;
}

#buttonAggiungiProdotto {
	padding: 10px;
	background-color: green;
	position: relative;
	left: 35%;
}

.buttonModifica {
	background-color: gold;
	padding: 10px;
}

.buttonElimina {
	background-color: red;
	padding: 10px;
}