body {
	font-family: Calibri;
}

header {
	text-align: center;
	background-color: #abcbab;
	border-bottom: 1px solid;
	position: sticky;
	top: 0;
}

footer {
	text-align: center;
	background-color: #abcbab;
	border-top: 1px solid;
	position: sticky;
	top: 0;
}

h1, h2 {
	text-align: center;
}

div {
	margin: auto;
	max-width: 700px;
}

#aggiungiProdotto {
	text-align: center;
	margin: auto;
	background-color: #baeaee;
}

#loginButton, #registerButton, #adminButton {
	display: none;
}

#inviaProdotto {
	padding: 10px;
	background-color: green;
}