body {
	font-family: Calibri;
}

header {
	text-align: center;
	background-color: #abcbab;
	border-bottom: 1px solid;
	position: sticky;
	top: 0;
}

footer {
	text-align: center;
	background-color: #abcbab;
	border-top: 1px solid;
	position: sticky;
	top: 0;
	margin-top: 19%;
}

h1, h2 {
	text-align: center;
}

div {
	margin: auto;
	max-width: 700px;
}

#loginButton, #registerButton, #adminButton {
	display: none;
}

td {
	border: 1px solid;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.abilita {
	padding: 10px;
	background-color: green;
}

.disabilita {
	padding: 10px;
	background-color: red;
}