body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}



.button-container {
    margin: 15% auto; 
}

.image-button {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: #333;
}



.image-button img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}