body {
	background-image: url("../imgs/Background_servizi.jpeg"); width:1600px; height:1600px; color: white;
}

h1 {
	text-align:center; font-family:MV Boli;
}

div {
	background-color: black; width: 300px;
}