body {
    background-color: #cbced1;
}

h2{
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
th {
  padding: 8px;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: #074fad;
  color: white;
}

td {
  padding: 10px;
  text-align: left;
  border: 1px solid lightgrey;
}
        
#immPenna {
  width: 100%;
  width: 30px; 
}

#immCestino {
  width: 100%;
  width: 30px; 
}

#check {
  width: 33px; 
  height: 33px;
  display: inline-block;/* un elemento venga visualizzato come un blocco, ma in linea con altri elementi. 
  Significa che gli elementi possono essere affiancati senza andare a capo, come avviene con gli elementi inline.*/
}

#azione{
  width: 9%;
}

.centro {
  display: flex;
  justify-content: center;
}


#visualizzazione{
  background-color: white;
  border: solid black 1px;
  border-radius: 25px;
  width: 25% ;
  text-align: center;
  display: none;
}

input{
  margin-top:1.5%;
  margin-bottom: 1.5%;
  font-size: 94%;
}

label{
  font-size: 105%;
}

#pulsanteElimina{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  marigin-right: 1.5%;
  background-color: darkred;
  color: white;
  width: 20%;
  font-size: 17px;
}

#pulsanteElimina:hover{
  background-color: red;
  width: 22%;
}

#pulsanteModifica{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  marigin-right: 1.5%;
  background-color: darkgreen;
  color: white;
  width: 20%;
  font-size: 17px;
}

#pulsanteModifica:hover{
  background-color: green;
  width: 22%;
}
