.contenitore {
	text-align:center;
	background-color:gray;
}

body {
	background-color:gray;
}

table {
	border: solid 1px;
	margin: auto;
	background-color:white;
}

thead {
	background-color:black;
	color:white;
}

tr {
	
}

td {
	border: solid 1px;
	padding: 20px;
}

th {
	border: solid 1px;
}

.titoloFinestraModale {
	background-color:black;
	color:white;
}

.modifica {
	padding: 15px 10px;
    background-color: gold;
    color: black;
    cursor: pointer;
}

.elimina {
	padding: 15px 10px;
    background-color: red;
    color: black;
    cursor: pointer;
}

.abilita {
	padding: 15px 10px;
    background-color: green;
    color: black;
    cursor: pointer;
}

/* Finestra Modale (background)*/
.finestraModale {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Finestra Modale */
.contenutoFinestraModale {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

/* Pulsante chiudi */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.confermaFinestraModale {
	padding: 15px;
	background-color: green;
}

.contenutoFinestraModale {
	text-align:center;

}