body {
    background-color: #cbced1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.generale {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    width: 100%;
    text-align: center;
    margin: 10px 0 5px;
}

form input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit {
    background-color: #074fad;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 115%;
    margin-top: 10px;
}

#submit:hover {
    background-color: #074494;
}

p{
    color: red;
    display: none;
}