body {
  background-image: url("../imgs/sfondo.png");
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  max-height: 1200px;
}


.nome-span{
  position: relative;
  top: -20px;
  color: #097b47;
  font-size: 70px;
}

.logo{
  position: relative;
  width: 150px; 
  height: 150px; 
  margin: 0 auto;
  top:-155px;
  left: -47%;
}

hr
{
   position: relative;
   top: -170px;
}

.menu{
  width: 288px;
  height: 50px;
  border: 1.3px solid;
  background-color: #8fbc8f;
  position: relative;
  left: 78%;
  top:-275px;
}

.menu__home_a{
  position: relative;
  left:-3%;
  top:10px;
  font-size: 23px;
}

.menu__prodotti_a{
  position: relative;
  left:2%;
  top:10px;
  font-size: 23px;
}

.menu__servizi_a{
  position: relative;
  left:7%;
  top:10px;
  font-size: 23px;
}

.carrello{
  width: 50px;
  height: 50px;
  border: 1.3px solid;
  background-color: #8fbc8f;
  position: relative;
  left: 110%;
  top: -27px;
}

.carrello_img{
  width: 15%;
  position: relative;
  top: -75px;
  left:69%;
}

section{
  position: relative;
  top:130px;
  text-align: left;
}
select{
  font-size: 20px;
}

.lana_h2{
  color: #097b47;
  font-size: 40px;
  position: relative;
  top:-270px;
}
.separatore_lana {
  position: relative;
  top: -1170px;
  left: -2%;
  width: 1915px;
  height: 3px;
  background-color: #8fbc8f;
  border: none; 
}

.lana_sartoria {
  position: relative;
  top: -1240px;
  left: -2%;
  width: 1915px;
  height: 3px;
  background-color: #8fbc8f;
  border: none; 
}


.lana{
  position: relative;
  top:-200px;
  font-size: 25px;
}

.immagine_lana{
  width: 500px;
  height: 400px;
  position: relative;
  left:60%;
  top:-600px;
  border-radius: 5%;
}

.tessuti_h2{
  color: #097b47;
  font-size: 40px;
  position: relative;
  top:-500px;
}

.tessuti{
  position: relative;
  top:-450px;
  font-size: 25px;
}

.separatore_tessuti {
  position: relative;
  top: -1470px;
  left: -2%;
  width: 1915px;
  height: 3px;
  background-color: #8fbc8f;
  border: none; 
}

.immagine_tessuti{
  width: 470px;
  height: 400px;
  position: relative;
  left:60%;
  top:-850px;
  border-radius: 5%;
}

.accessori_h2{
  color: #097b47;
  font-size: 40px;
  position: relative;
  top:-750px;
}

.accessori{
  position: relative;
  top:-670px;
  font-size: 25px;
}


.separatore_accessori{
  position: relative;
  top: -1390px;
  left: -2%;
  width: 1915px;
  height: 3px;
  background-color: #8fbc8f;
  border: none; 
}

.immagine_accessori{
  width: 450px;
  height: 380px;
  position: relative;
  left:60%;
  top:-910px;
  border-radius: 5%;
}

.abbigliamento_h2{
  color: #097b47;
  font-size: 40px;
  position: relative;
  top:-830px;
}

.abbigliamento{
  position: relative;
  top:-700px;
  font-size: 25px;
}


.separatore_abbigliamento{
  position: relative;
  top: -1540px;
  left: -2%;
  width: 1915px;
  height: 3px;
  background-color: #8fbc8f;
  border: none; 
}

.immagine_abbigliamento{
  width: 430px;
  height: 420px;
  position: relative;
  left:60%;
  top:-980px;
  border-radius: 5%;
}

.merceria_h2{
  color: #097b47;
  font-size: 40px;
  position: relative;
  top:-900px;
}

.merceria{
  position: relative;
  top:-810px;
  font-size: 25px;
}


.separatore_merceria{
  position: relative;
  top: -2015px;
  left: -2%;
  width: 1915px;
  height: 3px;
  background-color: #8fbc8f;
  border: none; 
}

.immagine_merceria{
  width: 470px;
  height: 470px;
  position: relative;
  left:60%;
  top:-1310px;
  border-radius: 5%;
}



.prenotazione{
  font-size: 18px;

}

.prenota{
  position: relative;
  top:-200px;
  font-size: 20px;
}

.nero{
  opacity: 0.8;
  position: relative;
  left: 0%;
  top: -200px;
  height: 300px;
  width: 100%;
  background-color: black;
}

.seguici_span{
  position: relative;
  top:35px;
  color: #7e7d6d;
  font-size: 53px;
}

.img-facebook{
  position: relative;
  left: -5%;
  top: 65px;
  width: 3.5%;  
}

.img-instagram{
  position: relative;
  left: 0%;
  top: 65px;
  width: 3.5%;  
}

.img-whatsapp{
  position: relative;
  left: 5%;
  top: 65px;
  width: 3.5%;  
}

footer{
  position: relative;
  top:-280px;
}
