body {
  background-image: url("../imgs/sfondo.png");
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  max-height: 1200px;
}
.nome-span{
  position: relative;
  top: -20px;
  color: #097b47;
  font-size: 70px;
}

.logo{
  position: relative;
  width: 150px; 
  height: 150px; 
  margin: 0 auto;
  top:-155px;
  left: -47%;
}

hr
{
   position: relative;
   top: -170px;
}

.menu{
  width: 288px;
  height: 50px;
  border-radius: 15px;
  border: 1.3px solid;
  background-color: #8fbc8f;
  position: relative;
  left: 82%;
  top:-275px;
}

.menu__home_a{
  position: relative;
  left:-3%;
  top:10px;
  font-size: 23px;
}

.menu__prodotti_a{
  position: relative;
  left:2%;
  top:10px;
  font-size: 23px;
}

.menu__servizi_a{
  position: relative;
  left:7%;
  top:10px;
  font-size: 23px;
}

.rettangolo {
  width: 400px;
  height: 350px;
  border-radius: 15px;
  border: 1.3px solid;
  background-color: white;
  position: relative;
  top:-200px;
  left:37%;
}

.login_span{
  position: relative;
  font-size: 30px;
  color: #0000CD;
}

form{ 
  font-size: 23px;
}

.invio_form
{
  font-size: 19px;
}

a{
  position: relative;
  top: 80px;
  font-size: 23px;
}

.rigistrati_span{
  position: relative;
  top: 80px;
  font-size: 20px;
}

.nero{
  opacity: 0.8;
  position: relative;
  left: 0%;
  top: 0px;
  height: 300px;
  width: 100%;
  background-color: black;
}

.seguici_span{
  position: relative;
  top:35px;
  color: #7e7d6d;
  font-size: 53px;
}

.img-facebook{
  position: relative;
  left: -5%;
  top: 65px;
  width: 3.5%;  
}

.img-instagram{
  position: relative;
  left: 0%;
  top: 65px;
  width: 3.5%;  
}

.img-whatsapp{
  position: relative;
  left: 5%;
  top: 65px;
  width: 3.5%;  
}